@model DataArchives.Models.ViewModel.MainHeaderV


    @*<nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <div class="nav-item active">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
            </div>
            <div class="nav-item ">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
            </div>
            <div class="nav-item ">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
            </div>
        </div>
        </nav>*@

    <div class="">
        @*onclick="mainHeaderChangeSel('OwnDatas')"*@
        <ul class="nav nav-tabs main-header row no-gutters" role="tablist">
            <li class="nav-item col-sm-4 col-3">
                @if (Model.Selected == "OwnDatas" || string.IsNullOrWhiteSpace(Model.Selected))
                {
                    <a class="nav-link active" id="OwnDatas-tab" data-toggle="tab" href="#OwnDatasBlock" role="tab" aria-controls="OwnDatasBlock" aria-selected="true">Данные</a>
                }
                else
                {
                    <a class="nav-link" id="OwnDatas-tab" data-toggle="tab" href="#OwnDatasBlock" role="tab" aria-controls="OwnDatasBlock" aria-selected="true">Данные</a>
                }
            </li>
            @*onclick="mainHeaderChangeSel('Search')"*@
            <li class="nav-item col-sm-4 col-3">
                @if (Model.Selected == "Search")
                {
                    <a class="nav-link active" id="Search-tab" data-toggle="tab" href="#SearchBlock" role="tab" aria-controls="SearchBlock" aria-selected="true">Поиск</a>
                }
                else
                {
                    <a class="nav-link" id="Search-tab" data-toggle="tab" href="#SearchBlock" role="tab" aria-controls="SearchBlock" aria-selected="true">Поиск</a>
                }
            </li>
            @*onclick="mainHeaderChangeSel('ForeignDatas')"*@
            <li class="nav-item col-sm-4 col-6">
                @if (Model.Selected == "ForeignDatas")
                {
                    <a class="nav-link active" id="ForeignDatas-tab" data-toggle="tab" href="#ForeignDatasBlock" role="tab" aria-controls="ForeignDatasBlock" aria-selected="true">Чужие данные</a>
                }
                else
                {
                    <a class="nav-link" id="ForeignDatas-tab" data-toggle="tab" href="#ForeignDatasBlock" role="tab" aria-controls="ForeignDatasBlock" aria-selected="true">Чужие данные</a>
                }
            </li>

        </ul>
    </div>

