@model DataArchives.Models.Domain.Article


    <div class="row rounded border border-success" id="OneArticleFull_@Model.Id">
        <div onclick="" class="col-2">@Model.Lvl</div>
        @* кнопка для того что бы разворачивать секции *@
        <div class="col-9">
            @*заголовок секции, при нажатии открывается alert с содержимым*@
        </div>
        <div class="col-1">
            @*кнопка которая будет вытаскивать остальные кнопки*@
        </div>

    </div>

