@model DataArchives.Models.ViewModel.ArchiveIndexV
@using DataArchives.Models.ViewModel
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Areas/Identity/Pages/Account/Login.cshtml";
}



    <div class="tab-content">
        <div class="tab-pane fade show active in" id="OwnDatasBlock" role="tabpanel" aria-labelledby="OwnDatasBlock-tab">
            @* вкладка с своими данными *@
            @if (Model.UserId != null)
            {
                
                @await Html.PartialAsync("/Views/Partial/OneSection.cshtml",new OneSectionV() {Section= Model.MySection,UserId=Model.UserId })
            }
            else
            {
                <h1>Вам необходимо авторизоваться</h1>
            }


        </div>


        <div class="tab-pane fade show" id="SearchBlock" role="tabpanel" aria-labelledby="SearchBlock-tab">
            <input type="text" id="searchStr" /> <button onclick="goSearch()">Поиск</button>
            <input type="email" id="searchEmail" />
            <div id="searchResultPreload" style="display:none;">
                <div class="text-center">
                    <div class="spinner-border text-primary square-100-100" role="status">
                        <span class="sr-only">Загрузка...</span>
                    </div>
                </div>
            </div>
            <div id="searchResult">

            </div>

        </div>


        <div class="tab-pane fade show" id="ForeignDatasBlock" role="tabpanel" aria-labelledby="ForeignDatasBlock-tab">

            <input type="email" id="foreignEmail" /> <button onclick="getForeign()">Получить доступ</button>
            <div id="ForeignResultPreload" style="display:none;">
                <div class="text-center">
                    <div class="spinner-border text-primary square-100-100" role="status">
                        <span class="sr-only">Загрузка...</span>
                    </div>
                </div>
            </div>
            <div id="ForeignResult">

            </div>


        </div>


    </div>

    



@section Scripts{
    <script src="~/js/archives.js"></script>
}

