
@{
    ViewData["Title"] = "OwnDatas";
    //Layout = "~/Areas/Identity/Pages/Account/Login.cshtml";
}
    @*<nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <div class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home" aria-selected="true">Home1</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true">Home2</a>
            </div>
        </div>        </nav>*@
    
                @*<ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item active">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home1-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home" aria-selected="true">Home1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home2-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true">Home2 22222222222 2222222</a>
                    </li>

                </ul>*@
                @*<div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active in" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                    <div class="tab-pane fade show" id="home1" role="tabpanel" aria-labelledby="home-tab">...</div>
                    <div class="tab-pane fade show" id="home2" role="tabpanel" aria-labelledby="home-tab">...</div>

                </div>*@




                @*<p>
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Переключить 1-ый элемент</a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Переключить 2-ой элемент</button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Переключить оба элемента</button>
            </p>
            <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                </div>
            </div>*@

